@font-face {
  font-family: monsterFriendBack;
  src: url('assets/fonts/Monster Friend Back.ttf');
}

@font-face {
  font-family: determinationMono;
  src: url('assets/fonts/DeterminationMonoWeb.woff');
}

@font-face {
 font-family: monsterFriendCenter;
  src: url('assets/fonts/MonsterFriend2Center.otf');
}

body {
  background-color: black;
}

div {
  position: relative;
  opacity: 0.5;
}

#title {
  font-family: monsterFriendBack;
  postion: absolute;
  text-align: center;
  opacity: 0.5;
  color: white;
}

#titleHeart {
  font-family: monsterFriendCenter;
  text-align: center;
  position: absolute;
  color: #ff0000;
}

p {
  font-family: determinationMono;
  text-align: center;
}
