@font-face {
  font-family: monsterFriendBack;
  src: url('assets/fonts/Monster Friend Back.ttf');
}

@font-face {
  font-family: determinationMono;
  src: url('assets/fonts/DeterminationMonoWeb.woff');
}

body {
  background-color: black;
}

div {
 position: relative;
}

#title {
  font-family: monsterFriendBack;
  position: absoulte;
  right: 500px;
}

p {
  font-family: determinationMono;
}
