@import url(https://db.onlinewebfonts.com/c/aaee46f857ee8d51f395c4fba0a42a1e?family=Monster+Friend+Back);

@font-face {
  font-family: monsterFriendBack;
  src: url('assets/fonts/MonsterFriend2B.otf') format('opentype') !important;
}

@font-face {
  font-family: determinationMono;
  src: url('assets/fonts/DeterminationMonoWeb.woff');
}

body {
  background-color: black;
}

h1 {
  font-family: Monster Friend Back;
}

p {
  font-family: determinationMono;
}
